/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  display: flex;
}




header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 36px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */

form {
  
  border: 2px solid #ff385c;
  padding: 10px;
  display:flex;
}

form label {
  font-weight: bold;
}

form select, form input {
  width: 130px;
  
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.date::placeholder {
  color: black;
}

.form-group{
  display: flex;
  flex-direction: column;
  
}


.form-container{
  display: flex;
  flex-direction: row;
}


.group {
  display: flex;
  flex-direction: column;
}

.form-group{
  flex: 2;
  margin:10px;
}

.form-group-double {
  flex: 2;
}

/* -------  About ------- */


#about {
  display: flex;
  flex-direction: column; /* Change from column to row */
}

#item-about {
  display: flex;
  flex-direction: row; /* Change from row to column */
  align-items: center;
}

#item-about img{
  margin-left: 20px;
}
#item-about p{
  margin-left: 20px;
}




#about img {
  width: 30%;
  /* Add any additional styles for image positioning if needed */
}

/* Add any additional styles for the paragraph as needed */




/* -------  Ideas ------- */

#ideas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Adjust the gap as needed */
}

.grid-item {
  text-align: center;
}

.grid-item img {
  width: 100%;
  height: auto;
  margin-bottom: 10px; /* Adjust the margin as needed */
}




/* -------  host ------- */
.ses {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  
}

.word-item{
  margin-top: 50px;
}


#host img{
  width: 40%;
  height: auto;
  margin-left: 150px;
}


/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media (max-width: 768px) {



  /*-- nav bar --*/
  .navbar {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    text-align: center; /* Center text within each item */
  }
  .menu {
    display: flex;
  }

/*-- FORM --*/




form{
  display: flex;
  flex-direction: column;
}


.form-group{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



button {
  background-color: #333;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  margin-top: 1em; /* Add margin to the button */
  
}

button:hover {
  background-color: #555;
}



/*-- About --*/
#img12 {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}
#img12 img{
  width: 80%;
  height: auto;
  margin-bottom: 10px;
}


/*-- IDEAS --*/


.grid-container{
  display: flex;
  flex-direction: column;
  
  justify-content: space-around;
}


#ideas img{
  width: 100%;
  height: auto;
}


/*-- HOST --*/


.ses {
  display: flex;
  flex-direction: column;
 
}

#host img {
  width: 100%; /* Adjust the width for smaller screens */
  margin-left: 0; /* Remove margin or adjust as needed */
}



}



